main{
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display{
  width: 900px;
}

.display li{
  padding: 8px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

form{
  position: fixed;
  bottom: 20px;
}

form input{
  outline: none;
  border: 2px solid black;
}

.user{
  background-color: red;
  text-align: end;
}

.assistent{
  background-color: blue;
}