main{
  padding: 30px;
  background-color: var(--background);
  height: 100vh;
}

*::selection{
  background-color: rgb(154, 194, 154);
  color: white;
}

aside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

main h1{
  display: inline-block;
  color: var(--text);
  cursor: pointer;
  transition: .4s;
  font-size: 2rem;
}

span{
  background-color: var(--secondary);
  transition: .4s;
  padding: 1.5px 1px;
}

main h1:hover{
  background-color: var(--primary);
}

main h1:hover span{
  background-color: var(--background);
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.left::after{
  content: '';
  position: absolute;
  right: 0;
  top: -30px;
  height: 400px;
  width: 4px;
  background-color: var(--primary);
}

section button{
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid black;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 2px 8px;
  cursor: pointer;
  transition: .4s;
}

section button:hover{
  letter-spacing: 4px;
  box-shadow: 0 3px black;
}

article{
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

article p{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}