<main>
  <aside>
    <h1>Our idea, <span>your realization!</span></h1>
  </aside>
  <section>
    <div class="left">
      <article>
        <p>Chat with our assistent, make researchs, ask questions and other features that are so amazing and brilliant!</p>
        <button routerLink="/chat">Chat</button>
      </article>
    </div>
    <div class="right">
      <article>
        <p>Make image requests to our assistent, generate demonstrative images with just a little text</p>
        <button routerLink="/chat/images">Images</button>
      </article>
    </div>
  </section>
</main>