*::selection{
  background-color: rgb(154, 194, 154);
  color: white;
}

main{
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display{
  width: 1000px;
}


form{
  position: fixed;
  bottom: 20px;
  width: 400px;
}

form input{
  outline: none;
  border: 2px solid black;
  width: 100%;
  padding: 10px 8px;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  color: white;
}

hr{
  margin-top: 200px;
}

.display img{
  max-width: 300px;
}

.display p{
  text-align: end;
  font-size: 1.1rem;
}